<h4>Filter Views</h4>

<form [formGroup]="group">

  <p>Region</p>
  <div>
    <label>
      <input type="radio" value="northamerica" formControlName="region">
      North America
    </label>
    <label>
      <input type="radio" value="europe" formControlName="region">
      Europe
    </label>
    <label>
      <input type="radio" value="asia" formControlName="region">
      Asia
    </label>
    <label>
      <input type="radio" value="all" formControlName="region">
      All
    </label>
  </div>

  <p>Date Range</p>
  <div>
    <label>
      From
      <br>
      <input type="date" formControlName="fromDate">
    </label>
    <label>
      To
      <br>
      <input type="date" formControlName="toDate">
    </label>
  </div>

  <p>Age Groups</p>
  <div>
    <label>
      <input type="checkbox" formControlName="under18">
      Under 18
    </label>
    <label>
      <input type="checkbox" formControlName="18to40">
      18 to 40
    </label>
    <label>
      <input type="checkbox" formControlName="40to60">
      40 to 60
    </label>
    <label>
      <input type="checkbox" formControlName="over60">
      Over 60
    </label>
  </div>

</form>

<pre>{{ group.value | json }}</pre>
