:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "list player filters"
    "list breakdown filters";
}

app-video-list {
  grid-area: list;
}

app-video-player {
  grid-area: player;
}

app-stat-filters {
  grid-area: filters;
}

app-views-breakdown {
  grid-area: breakdown;
}
